{{extend 'layout.html'}}

{{=form.custom.begin}}

{{# -*- coding:utf-8 -*- }}

<body class="grey lighten-3">
<h5 class="header col s12 light">Cadastrar Atendimento</h5>
<br><br><br><br>
<div class="container">
	<div class="container">
		<div class="card-panel hoverable"><br>
		<div class="row">
			<div class="container">
				<div style="text-align: center;"><img class="responsive-img" src="/Sigeco/static/images/add_aluno.svg" height="100px" width="100px"><br><br>
		  </div>
			<div class="row">
				<div class="input-field col s12">
					{{=form.custom.widget.nome}}
				<label>Nome</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s6">
					{{=form.custom.widget.matricula}}
				<label>Matricula</label>
				</div>
				<div class="input-field col s6">
					{{=form.custom.widget.plataforma}}
				<label>Plataforma</label>
				</div>
			</div>

		<div class="row">
			<div class="input-field col s6">
				{{=form.custom.widget.email}}
				<label data-error="E-mail invalido" data-success="" for="email">E-mail</label>
			</div>
			<div class="input-field col s6">
				{{=form.custom.widget.telefone}}
			<label>Telefone</label>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<label>Assunto</label>
				{{=form.custom.widget.assunto}}
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<label>Status do atendimento</label>
				{{=form.custom.widget.status}}
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<label>Ocorrência</label>
				{{=form.custom.widget.ocorrencia}}
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<label>Solução</label>
				{{=form.custom.widget.solucao}}
			</div>
		</div>

	</div>
		</div>
		<br>
			</div> 	<!-- Fim do card -->
			<br>
			<div class="right">
				<button class="btn waves-effect waves-light" type="submit" name="action">Enviar
					<i class="material-icons right">send</i>
				</button>
			</div>

 			</div>
 		</div>
 	<br>

	</div>
</div>
</div>
</div>
 <br><br><br><br>
</body>



{{=form.custom.end}}
