<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Sigeco</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/Sigeco/static/css/materialize-front.css" type="text/css" rel="stylesheet"
      media="screen,projection">
    <link href="/Sigeco/static/css/style-front.css" type="text/css" rel="stylesheet"
      media="screen,projection">
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container"> <a id="logo-container" href="#" class="brand-logo">Recursos Humanos</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container"> <br>
          <br>
          <h1 class="header center teal-text text-lighten-2">SIGECO</h1>
          <div class="row center">
            <h5 class="header col s12 light">Sistema de Gestão de Atendimento e Controle de Atividades</h5>
          </div>
          <div class="row center"> <a href="/Sigeco/default/level.html"
              id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Comece agora</a> </div>
          <br>
          <br>
        </div>
      </div>
      <div class="parallax"><img alt="My Logo" src="/Sigeco/static/images/integrar.png"></div>
    </div>
    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Ferramentas rápidas</h5>
              <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sapien nulla. Vestibulum sodales nulla sem. Cras non suscipit nisi, nec tincidunt ante. Nulla auctor metus ac massa dictum, vitae laoreet velit viverra. Nunc vestibulum a lectus nec tincidunt. Cras non ligula sed ligula accumsan sollicitudin a id quam.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">group</i></h2>
              <h5 class="center">Gestão dos atendimento</h5>
              <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sapien nulla. Vestibulum sodales nulla sem. Cras non suscipit nisi, nec tincidunt ante. Nulla auctor metus ac massa dictum, vitae laoreet velit viverra. Nunc vestibulum a lectus nec tincidunt. Cras non ligula sed ligula accumsan sollicitudin a id quam</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Fácil de trabalhar</h5>
              <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sapien nulla. Vestibulum sodales nulla sem. Cras non suscipit nisi, nec tincidunt ante. Nulla auctor metus ac massa dictum, vitae laoreet velit viverra. Nunc vestibulum a lectus nec tincidunt. Cras non ligula sed ligula accumsan sollicitudin a id quam.</p>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h4 style="text-align: center;">Um site moderno para controle dos seus
          atendimento</h4>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <p class="left-align light">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam
              pellentesque tristique arcu, non consequat magna fermentum ac.
              Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien
              id, viverra ultrices eros. Morbi sem neque, posuere et pretium
              eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin
              diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie.
              Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat.
              Nullam eget dignissim mauris, non tristique erat. Vestibulum ante
              ipsum primis in faucibus orci luctus et ultrices posuere cubilia
              Curae;</p>
            <p class="left-align light"><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Consórcio Integrar Offshore</h5>
            <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sapien nulla. Vestibulum sodales nulla sem. Cras non suscipit nisi, nec tincidunt ante. Nulla auctor metus ac massa dictum, vitae laoreet velit viverra. Nunc vestibulum a lectus nec tincidunt. Cras non ligula sed ligula accumsan sollicitudin a id quam</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Informações</h5>
            <ul>
              <li><a class="white-text" href="https://github.com/Alzemand/Sigeco/blob/master/LICENCE">Licença sobre uso do software</a></li>
              <li><a class="white-text" href="https://github.com/Alzemand/Sigeco">Código fonte do Software</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container"> Edilson Alzemand - AUX TI 1008
        </div>
      </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/Sigeco/static/js/materialize-front.js"></script>
    <script src="/Sigeco/static/js/init-front.js"></script>
  </body>
</html>
