{{extend 'layout.html'}}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

</head>
<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <!-- <h1 class="header center blue-text">SIGECO</h1> -->
      <div class="row center">
        <!-- <h5 class="header col s12 light">Comece utilizando o menu de navegação</h5> -->
      </div>
      <div style="text-align: center;"><img class="responsive-img" src="/Sigeco/static/images/Nova-Marca-Final_PNG.png" height="400px" width="400px"><br></div>
      <br><br><br><br><br><br><br>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
           <div style="text-align: center;"><img class="responsive-img" src="/Sigeco/static/images/add_aluno.svg" height="100px" width="100px"><br></div>

            <h5 class="center">Registre seu atendimento</h5>

           <p style="text-align: justify;" class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sapien nulla. Vestibulum sodales nulla sem. Cras non suscipit nisi, nec tincidunt ante. Nulla auctor metus ac massa dictum, vitae laoreet velit viverra. Nunc vestibulum a lectus nec tincidunt. Cras non ligula sed ligula accumsan sollicitudin a id quam.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
           <div style="text-align: center;"><img class="responsive-img" src="/Sigeco/static/images/empresa.svg" height="100px" width="100px"><br></div>

            <h5 class="center">Gerencie indicador</h5>

           <p style="text-align: justify;" class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sapien nulla. Vestibulum sodales nulla sem. Cras non suscipit nisi, nec tincidunt ante. Nulla auctor metus ac massa dictum, vitae laoreet velit viverra. Nunc vestibulum a lectus nec tincidunt. Cras non ligula sed ligula accumsan sollicitudin a id quam.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
           <div style="text-align: center;"><img class="responsive-img" src="/Sigeco/static/images/funcionario.svg" height="100px" width="100px"><br></div>

            <h5 class="center">Acesso funcionario</h5>

           <p style="text-align: justify;" class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sapien nulla. Vestibulum sodales nulla sem. Cras non suscipit nisi, nec tincidunt ante. Nulla auctor metus ac massa dictum, vitae laoreet velit viverra. Nunc vestibulum a lectus nec tincidunt. Cras non ligula sed ligula accumsan sollicitudin a id quam.</p>
          </div>
        </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  </body>
</html>
