<!DOCTYPE html>
<html lang="en">
  <head>
   
  </head>
  <body>
    
	<div class="container">
	<div class="container">

			<div class="container">
			<br><br><br><br><br><br><br><br>
				<div style="text-align: center;"><img class="responsive-img" src="/Sigeco/static/images/x_curri.gif"><br><br>
				<h4> Contratei Goblins para me ajudar. Em construção</h4>
				<h5>Equipe de T.I</h5>
		  </div>
	
      <div style="text-align: center;><img alt="My Logo" src="/Sigeco/static/images/x_curri.gif"></div>

   
      <div class="footer-copyright">
 
        </div>
      </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/Sigeco/static/js/materialize-front.js"></script>
    <script src="/Sigeco/static/js/init-front.js"></script>
  </body>
</html>
